<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<div th:fragment="header">
    <h1>WebMarket</h1>
</div>

<div th:fragment="navbar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="topnav">
                <a href="/"><span th:text="TOPSHMOT"></span></a>
                <a th:if="${#authorization.expression('isAuthenticated()')}" href="/orders">
                    <span th:text="#{orders}"></span>
                </a>
                <a th:if="${#authorization.expression('isAuthenticated()')}" href="/profile">
                    <span th:text="#{profile}"></span>
                </a>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="/users">
                    <span th:text="#{users}"></span>
                </a>
                <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="/newgood">
                    <span th:text="#{new_good}"></span>
                </a>
                <a th:href="@{/cart}"
                   th:if="${#authorization.expression('isAuthenticated()')}">
                    <span th:text="#{cart}"></span> <!--(<span th:text="${cartAmount}"></span> / <span th:text="${cartCost}"></span> ₽)-->
                </a>

                <a style="float: right" th:href="@{/registration}"
                   th:if="${not #authorization.expression('isAuthenticated()')}">
                    <span class="glyphicon glyphicon glyphicon-thumbs-up"></span><span th:text="#{registration}"></span>
                </a>

                <a style="float: right" th:href="@{/login}"
                   th:if="${not #authorization.expression('isAuthenticated()')}">
                    <span class="glyphicon glyphicon-log-out"></span> <span th:text="#{log.in}"></span>
                </a>

                <a style="float: right" th:href="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}">
                    <span class="glyphicon glyphicon-log-in"></span> <span th:text="#{log.out}"></span>
                </a>

                <a style="float: right">
                    <span th:if="${#authorization.expression('isAuthenticated()')}"
                          th:text="${#authentication.getPrincipal().getUsername()}"></span>
                </a>

                <div>
                <a style="float: right">
                    <select id="locales" onchange="myFunction()">
                        <option selected disabled>(<span th:text="${#locale}"></span>)</option>
                        <option value="en">en</option>
                        <option value="ru">ru</option>
                    </select>
                </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer" style="padding: 0; margin: 0;">
    <h1><span th:text="${we_here}"></span></h1>
    <div id="map"></div>
</div>
</body>
</html>