<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script th:src="@{/js/replaceURL.js}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script th:src="@{/js/find_closest_object.js}"></script>
    <title>Registration</title>
</head>
<body>
<div th:include="navbar :: navbar"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left form">
            <form th:action="@{/registration/submit}" th:object="${newUser}" method="post">
                <fieldset>
                    <h2><span th:text="#{registration}"></span></h2>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            <span th:text="#{incorrect_data}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><span th:text="#{name}"></span> </label>
                        <input type="text" class="form-control" th:field="*{name}"/>
                    </div>

                    <div class="form-group">
                        <label><span th:text="#{email}"></span> </label>
                        <input type="email" class="form-control" th:field="*{email}"/>
                    </div>

                    <div class="form-group">
                        <label><span th:text="#{password}"></span> </label>
                        <input type="text" class="form-control" th:field="*{password}"/>
                    </div>

                    <button type="submit" class="btn btn-success">
                        <span th:text="#{enter}"></span>
                    </button>
                </fieldset>
            </form>
            <hr/>
        </div>
    </div>
</div>

<div th:include ="navbar :: footer"></div>
</body>
</html>
